# In terraform directory
echo "*.tfstate*
.terraform/
.terraform.lock.hcl" > devops-deployment/terraform/.gitignore
terraform.tfvars
# In ansible directory
echo "inventory.ini" > devops-deployment/ansible/.gitignore


